<div id="content" class="multi home">
    <article class="san_pham post-256 page type-page status-publish hentry">
        <div typeof="schema:BlogPosting">
            <h2>Chào mừng quý khách đến với công ty xe nâng Duy Phát!</h2>
            <p>Công ty TNHH SX-TM-DV-KT Duy Phát hiện là đại diện của hiệu xe nâng XILIN đạt tiêu chuẩn châu Âu và là đại lý bình ắc quy xe nâng nhãn hiệu TAB, xuất xứ Châu Âu. Mua bán và cho thuê các loại xe nâng đã qua sử dụng với nhiều chủng loại và thương hiệu, phụ tùng thay thế và dịch vụ sửa chữa xe nâng điện &#8211; xe nâng tay, thiết kế, cải tiến, lập trình, sửa chữa máy móc, thiết bị tự động sản xuất trong công nghiệp cũng là các thế mạnh hàng đầu giúp chúng tôi trở thành đối tác lý tưởng và toàn diện trở thành nhà cung cấp toàn diện và lý tưởng các giải pháp xe nâng hàng cho quý khách. Xem thêm: <a href="/cong-ty-xe-nang">giới thiệu công ty xe nâng Duy Phát &gt;&gt;</a></p>
            <p>Gọi ngay <span style="font-size: 32px; color: #ff0000;"><strong>0908081108</strong></span>để được chúng tôi tư vấn tận tình, hoặc <strong>để lại lời hẹn</strong> <strong>để chúng tôi gọi lại quý khách</strong>. Chúng tôi tin rằng quý khách sẽ hài lòng với các giải pháp xe nâng của công ty Duy Phát.</p>
            <div class="gridintro">
                <div style="background-color: #cb7007;">
                    <h3><a href="/xe-nang-moi-xilin/">XE NÂNG MỚI</a></h3>
                    <p>Thương hiệu: XILIN (Liên doanh Đức &#8211; TQ).</p>
                </div>
                <div style="background-color: #05739b;">
                    <h3><a href="/xe-nang-da-qua-su-dung/">XE NÂNG ĐÃ QUA SỬ DỤNG</a></h3>
                    <p>Nhiều thương hiệu. Bán &amp; cho thuê.</p>
                </div>
                <div style="background-color: #076f00;">
                    <h3><a href="/dich-vu-bao-tri-sua-chua-xe-nang/">BẢO TRÌ, SỬA CHỮA XE NÂNG</a></h3>
                    <p>Chuyên nghiệp hàng đầu TP HCM!</p>
                </div>
                <div style="background-color: brown;">
                    <h3><a href="/phu-tung-xe-nang/">PHỤ TÙNG XE NÂNG</a>,<a href="/binh-ac-quy-xe-nang/"> ẮC QUY XE NÂNG</a></h3>
                    <p>Bán phụ tùng, ắc quy, bảo dưỡng ắc quy.</p>
                </div>
            </div>
            <h2>Một vài sản phẩm xe nâng tiêu biểu</h2>
            <div class="spgrid">
                <article class="san_pham post-123 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-xe-nang-tcm nhom_san_pham-san-pham-noi-bat">
                    <a href="/" rel="bookmark" title="XE NÂNG TCM 1.5T-4M">
                        <img width="220" height="220" src="~/Content/Images/xe-nâng-TCM-1.5T-4M-FB15-7_2-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="xe nâng TCM 1.5T-4M FB15-7_2" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-tcm-1-5t-4m/" rel="bookmark" title="XE NÂNG TCM 1.5T-4M">XE NÂNG TCM 1.5T-4M</a>
                    </h2><p class="spmodel1">Model &nbsp;&nbsp; <span> FB15-7</span></p>
                </article>
                <article class="san_pham post-145 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-xe-nang-hyster nhom_san_pham-san-pham-noi-bat">
                    <a href="/" rel="bookmark" title="XE NÂNG HYSTER 2T-9M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-HYSTER-2T-9M-R20-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG HYSTER 2T-9M R20" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-hyster-2t-9m/" rel="bookmark" title="XE NÂNG HYSTER 2T-9M">XE NÂNG HYSTER 2T-9M</a>
                    </h2>
                    <p class="spmodel1">Model &nbsp;&nbsp; <span>R20</span></p>
                </article>
                <article class="san_pham post-552 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-reach-truck nhom_san_pham-xe-nang-moi-xilin nhom_san_pham-san-pham-noi-bat">
                    <a href="/" rel="bookmark" title="Xe nâng điện lối đi hẹp Xilin CQDH10C/15C &#8211; Reach Truck">
                        <img width="220" height="220" src="~/Content/Images/Xe-nâng-điện-lối-đi-hẹp-Xilin-CQDH10C-15C-Reach-Truck-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="Xe nâng điện lối đi hẹp Xilin CQDH10C-15C - Reach Truck" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-dien-loi-di-hep-xilin-cqdh10c15c-reach-truck/" rel="bookmark" title="Xe nâng điện lối đi hẹp Xilin CQDH10C/15C &#8211; Reach Truck">Xe nâng điện lối đi hẹp Xilin CQDH10C/15C &#8211; Reach Truck</a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp; <span>CQDH10C/15C</span>
                    </p>
                </article>
                <article class="san_pham post-137 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-xe-nang-yale nhom_san_pham-san-pham-noi-bat">
                    <a href="/" rel="bookmark" title="XE NÂNG YALE 2T-9,5M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-YALE-2T-95M-MR20H-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG YALE 2T-9,5M MR20H" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-yale-2t-95m/" rel="bookmark" title="XE NÂNG YALE 2T-9,5M">
                            XE NÂNG YALE 2T-9,5M
                        </a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp; <span> MR20H</span>
                    </p>
                </article>
                <article class="san_pham post-171 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-san-pham-noi-bat nhom_san_pham-xe-nang-nissan">
                    <a href="/" rel="bookmark" title="XE NÂNG NISSAN 2.5T-3.5M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-NISSAN-2.5T-3.5M-QGP02-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG NISSAN 2.5T-3.5M QGP02" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-nissan-2-5t-3-5m/" rel="bookmark" title="XE NÂNG NISSAN 2.5T-3.5M">XE NÂNG NISSAN 2.5T-3.5M</a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp; <span> QGP02</span>
                    </p>
                </article>
                <article class="san_pham post-129 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-xe-nang-nichiyu nhom_san_pham-san-pham-noi-bat">
                    <a href="/" rel="bookmark" title="XE NÂNG NICHIYU 1.5T-4M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-NICHIYU-1.5T-4M-FBRM15B-70B-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG NICHIYU 1.5T-4M FBRM15B-70B" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-nichiyu-1-5t-4m/" rel="bookmark" title="XE NÂNG NICHIYU 1.5T-4M">XE NÂNG NICHIYU 1.5T-4M</a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp; <span>FBRM15-70B-400</span>
                    </p>
                </article>
                <article class="san_pham post-165 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-san-pham-noi-bat nhom_san_pham-xe-nang-bt">
                    <a href="/san-pham/xe-nang-bt-2t-10-5m/" rel="bookmark" title="XE NÂNG BT 2T-10.5M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-BT-2T-10.5M-RRE7_4-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG BT 2T-10.5M RRE7_4" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-bt-2t-10-5m/" rel="bookmark" title="XE NÂNG BT 2T-10.5M">XE NÂNG BT 2T-10.5M</a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp; <span>RRE7</span>
                    </p>
                </article>
                <article class="san_pham post-173 type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-xe-nang-da-qua-su-dung nhom_san_pham-san-pham-noi-bat nhom_san_pham-xe-nang-sumitomo">
                    <a href="/san-pham/xe-nang-sumitomo-1-5t-3m/" rel="bookmark" title="XE NÂNG SUMITOMO 1.5T-3M">
                        <img width="220" height="220" src="~/Content/Images/XE-NÂNG-SUMITOMO-1.5T-3M-FB15PVIII-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="XE NÂNG SUMITOMO 1.5T-3M FB15PVIII" />
                    </a>
                    <h2>
                        <a href="/san-pham/xe-nang-sumitomo-1-5t-3m/" rel="bookmark" title="XE NÂNG SUMITOMO 1.5T-3M">XE NÂNG SUMITOMO 1.5T-3M</a>
                    </h2>
                    <p class="spmodel1">
                        Model &nbsp;&nbsp;
                        <span> FB15PVIII</span>
                    </p>
                </article>
            </div>
        </div>
        <div style='clear: both'></div>

        <div class="pagination"></div>
        <div class="clear"> </div>
    </article><!-- post_class() -->
    <!-- begin san pham lien quan -->
    <!-- end san pham lien quan -->


    <div class="left"><a href="/">&laquo; Trang chủ</a></div>
    <div class="clear"> </div>
</div><!-- #content -->
