@using CL.Transverse
<script>
    var $dataTables;
    var oTable;

    $(document).ready(function () {
        initDomObject();
        initDataTable();
    });

    // Init Dom Object
    function initDomObject() {
        $dataTables = $('.dataTables');
    }

    // Init DataTable
    function initDataTable() {
        oTable = $dataTables.DataTable({
            "sAjaxSource": "@Url.Action("GetCategories", "Category", new { area = Constants.GeneralAdminConfigs.AdminArea })",
            "bProcessing": false,
            "bStateSave": false,
            "bServerSide": true,
            "sServerMethod": httpMethod().POST,
            "bSortCellsTop": true,
            "iDisplayLength": commonVariables().iDisplayLength,
            "sDom": "Rlfrtip",
            "tableTools": {
                "sSwfPath": datatableToolkitUrl().datatableToolkitUrl
            },
            "bFilter": true,
            "aaSorting": [],
            "aLengthMenu": commonVariables().aLengthMenu,
            "columnDefs": [{ "targets": [3, 4, 5], "orderable": false }],
            "columns": [
                {
                    "data": "Id",
                    "className": "hidden"
                },
                {
                    "data": "Title",
                    "className": "text-left"
                },
                 {
                     "data": "Url",
                     "className": "text-left"
                 },
                {
                    "data": function (d) {
                        return d;
                    },
                    "render": function (d) {
                        return d.Parent;
                    },
                    "className": "text-left"
                },
                {
                    "data": function (d) {
                        return d;
                    },
                    "render": function (d) {
                        var checked = d.IsPublish ? 'checked' : '';
                        return '<input type="checkbox" class="js-switch" ' + checked + ' data-id="' + d.Id + '"/>';
                    },
                    "className": "text-left"
                },
                {
                    "data": function (d) {
                        return d.Id;
                    },
                    "render": function (d) {
                        var render = '';
                        // Edit
                        render += '<a href="@Url.Action("Edit", "Category", new{area = Constants.GeneralAdminConfigs.AdminArea})/' + d + '" class="btn btn-primary"><i class="fa fa-edit"></i></a>&nbsp;';
                        // Delete
                        render += '<a href="javascript:void(0)" onclick="deleteCategory(this);" data-id="' + d + '" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>';
                        return render;
                    },
                    "className": "text-center"
                }
            ],
            "fnDrawCallback": dataTableDrawCallback
        });
    }

    function dataTableDrawCallback() {
        $('input[aria-controls="datatable"]').attr("Maxlength", commonVariables().searchLength);
        switcherCheckBoxActiveStatus();
    }

    $("thead input").keyup(function () {
        oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $(this).parent("td").index()));
    });

    function switcherCheckBoxActiveStatus() {
        /// <summary>
        /// change display of checkbox and event active/de-active category
        /// </summary>
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function (html) {
            if ($(html).attr("data-switchery") != "true") {
                var switchery = new Switchery(html, { color: '#18a689', size: 'small' });
            }
        });

        $('.switchery').click(function () {
            var $this = $(this);
            var beforeIsChecked = !($this.parent().children('input[type=checkbox]'))[0].checked;

            var categoryName = $this.parent().parent().children('td:nth-child(2)')[0].innerHTML.trim();
            var categoryId = $this.parent().parent().children('td:first')[0].innerHTML.trim();

            // parse userId to int for send to server
            categoryId = parseInt(categoryId);

            var labelIsEnable;
            var labelUpperIsEnable;
            var labelUpperIsEnableFail;
            var btnColor;

            if (beforeIsChecked) {
                labelIsEnable = "de-active";
                labelUpperIsEnable = "De-active successful!";
                labelUpperIsEnableFail = "De-active un-successful!";
                btnColor = "#ff5252";
            } else {
                labelIsEnable = "active";
                labelUpperIsEnable = "Active successful!";
                labelUpperIsEnableFail = "Active un-successful!";
                btnColor = "#18a689";
            }

            swal({
                title: "Are you sure?",
                text: "You will " + labelIsEnable + " category: " + categoryName,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: btnColor,
                confirmButtonText: "Yes, " + labelIsEnable + " it!",
                cancelButtonText: "No, cancel",
                closeOnConfirm: false,
                closeOnCancel: true,
                showLoaderOnConfirm: true,
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("Active", "Category")',
                        type: httpMethod().POST,
                        data: {
                            id: categoryId
                        },
                        success: function (result) {
                            if (result.IsSuccess) {
                                swal(labelUpperIsEnable, result.Message, "success");
                            } else {
                                $this.click();
                                swal(labelUpperIsEnableFail, result.Message, "error");
                            }
                        },
                    });
                } else {
                    $this.click();
                }
            });
        });
    }
    
    function deleteCategory(e) {
        /// <summary>
        /// Delete category
        /// </summary>
        
        var $that = $(e);

        var categoryName = $that.parent().parent().children('td:nth-child(2)')[0].innerHTML.trim();
        var categoryId = $that.parent().parent().children('td:first')[0].innerHTML.trim();

        console.log(categoryName, categoryId);

        swal({
            title: "Are you sure?",
            text: "You will delete category: " + categoryName,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#ff5252",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel",
            closeOnConfirm: false,
            closeOnCancel: true,
            showLoaderOnConfirm: true,
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: '@Url.Action("Delete", "Category")',
                    type: httpMethod().POST,
                    data: {
                        id: categoryId
                    },
                    success: function (result) {
                        if (result.IsSuccess) {
                            swal("Delete successful!", result.Message, "success");
                            reloadDatatable();
                        } else {
                            $this.click();
                            swal("Delete un-successful!", result.Message, "error");
                        }
                    },
                });
            } else {
                $this.click();
            }
        });
    }
    
    function reloadDatatable() {
        oTable.ajax.reload(null, false);
    }
    
</script>
