<aside>
    <div class="widgets">
        <div class="widget-1 widget-first widget-odd ajax-srch widget">
            <div id="ajaxsearchlite2">
                <div class="probox">
                    <div class="proinput">
                        <form action="" autocomplete="off">
                            <input type="search" class="orig" name="phrase" placeholder="Tìm kiếm nhanh..." value="" autocomplete="off">
                            <input type="text" class="autocomplete" name="phrase" value="" autocomplete="off">
                            <span class="loading"></span>
                            <input type="submit" style="width:0; height: 0; visibility: hidden;">
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- widget -->
        <div class="widget treeviewsp">
            <h4>Danh mục sản phẩm</h4>
            <div class="dynamic_sidemenu">
                <ul id='catnavigation' class=treeview-black>
                    <li>
                        <a href='/' title='Xem tất cả sản phẩm trong Xe nâng mới XILIN (30)'>
                            <div class='category_name'>
                                Xe nâng mới XILIN <span class='category_name_count'>(30)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/xe-nang-moi-xilin/reach-truck/' title='Xem tất cả sản phẩm trong Reach Truck (6)'>
                                    <div class='category_name'>
                                        Reach Truck <span class='category_name_count'>(6)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-moi-xilin/manual-stacker/' title='Xem tất cả sản phẩm trong Manual Stacker (4)'>
                                    <div class='category_name'>
                                        Manual Stacker <span class='category_name_count'>(4)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-moi-xilin/forklift/' title='Xem tất cả sản phẩm trong Forklift (7)'>
                                    <div class='category_name'>
                                        Forklift <span class='category_name_count'>(7)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-moi-xilin/electric-stacker/' title='Xem tất cả sản phẩm trong Electric Stacker (8)'>
                                    <div class='category_name'>
                                        Electric Stacker <span class='category_name_count'>(8)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-moi-xilin/electric-pallet-truck/' title='Xem tất cả sản phẩm trong Electric Pallet Truck (4)'>
                                    <div class='category_name'>
                                        Electric Pallet Truck <span class='category_name_count'>(4)</span>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/xe-nang-da-qua-su-dung/' title='Xem tất cả sản phẩm trong Xe nâng đã qua sử dụng (53)'>
                            <div class='category_name'>
                                Xe nâng đã qua sử dụng <span class='category_name_count'>(53)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-toyota/' title='Xem tất cả sản phẩm trong Xe nâng Toyota (7)'>
                                    <div class='category_name'>
                                        Xe nâng Toyota <span class='category_name_count'>(7)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-komatsu/' title='Xem tất cả sản phẩm trong Xe nâng Komatsu (13)'>
                                    <div class='category_name'>
                                        Xe nâng Komatsu <span class='category_name_count'>(13)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-tcm/' title='Xem tất cả sản phẩm trong Xe nâng TCM (7)'>
                                    <div class='category_name'>
                                        Xe nâng TCM <span class='category_name_count'>(7)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-nichiyu/' title='Xem tất cả sản phẩm trong Xe nâng Nichiyu (3)'>
                                    <div class='category_name'>
                                        Xe nâng Nichiyu <span class='category_name_count'>(3)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-yale/' title='Xem tất cả sản phẩm trong Xe nâng Yale (4)'>
                                    <div class='category_name'>
                                        Xe nâng Yale <span class='category_name_count'>(4)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-hyster/' title='Xem tất cả sản phẩm trong Xe nâng Hyster (5)'>
                                    <div class='category_name'>
                                        Xe nâng Hyster <span class='category_name_count'>(5)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-bt/' title='Xem tất cả sản phẩm trong Xe nâng BT (10)'>
                                    <div class='category_name'>
                                        Xe nâng BT <span class='category_name_count'>(10)</span>
                                    </div>
                                </a>
                                <ul>
                                    <li>
                                        <a href='/xe-nang-da-qua-su-dung/xe-nang-bt/xe-nang-bt-vector/' title='Xem tất cả sản phẩm trong Xe nâng BT Vector (1)'>
                                            <div class='category_name'>
                                                Xe nâng BT Vector <span class='category_name_count'>(1)</span>
                                            </div>
                                        </a>

                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-nissan/' title='Xem tất cả sản phẩm trong Xe nâng Nissan (3)'>
                                    <div class='category_name'>
                                        Xe nâng Nissan <span class='category_name_count'>(3)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/xe-nang-da-qua-su-dung/xe-nang-sumitomo/' title='Xem tất cả sản phẩm trong Xe nâng Sumitomo (1)'>
                                    <div class='category_name'>
                                        Xe nâng Sumitomo <span class='category_name_count'>(1)</span>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/binh-ac-quy-xe-nang/' title='Xem tất cả sản phẩm trong Bình ắc quy xe nâng (5)'>
                            <div class='category_name'>
                                Bình ắc quy xe nâng <span class='category_name_count'>(5)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/binh-ac-quy-xe-nang/ac-quy-tab/' title='Xem tất cả sản phẩm trong Ắc quy TAB (3)'>
                                    <div class='category_name'>
                                        Ắc quy TAB <span class='category_name_count'>(3)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/binh-ac-quy-xe-nang/ac-quy-kobe/' title='Xem tất cả sản phẩm trong Ắc quy KOBE (1)'>
                                    <div class='category_name'>
                                        Ắc quy KOBE <span class='category_name_count'>(1)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/binh-ac-quy-xe-nang/ac-quy-gs-yuasa/' title='Xem tất cả sản phẩm trong Ắc quy GS YUASA (1)'>
                                    <div class='category_name'>
                                        Ắc quy GS YUASA <span class='category_name_count'>(1)</span>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/may-sac-binh-ac-quy-xe-nang/' title='Xem tất cả sản phẩm trong Máy sạc bình ắc quy xe nâng (2)'>
                            <div class='category_name'>
                                Máy sạc bình ắc quy xe nâng <span class='category_name_count'>(2)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/may-sac-binh-ac-quy-xe-nang/rx-made-in-italy/' title='Xem tất cả sản phẩm trong RX - Made in ITALY (2)'>
                                    <div class='category_name'>
                                        RX - Made in ITALY <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/he-thong-dien-xe-nang/' title='Xem tất cả sản phẩm trong Hệ thống điện xe nâng (5)'>
                            <div class='category_name'>
                                Hệ thống điện xe nâng <span class='category_name_count'>(5)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/he-thong-dien-xe-nang/zapi-made-in-italy/' title='Xem tất cả sản phẩm trong ZAPI - Made in ITALY (2)'>
                                    <div class='category_name'>
                                        ZAPI - Made in ITALY <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/he-thong-dien-xe-nang/curtis-made-in-usa/' title='Xem tất cả sản phẩm trong CURTIS - Made in USA (3)'>
                                    <div class='category_name'>
                                        CURTIS - Made in USA <span class='category_name_count'>(3)</span>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='/phu-tung-xe-nang/' title='Xem tất cả sản phẩm trong Phụ tùng xe nâng (20)'>
                            <div class='category_name'>
                                Phụ tùng xe nâng <span class='category_name_count'>(20)</span>
                            </div>
                        </a>
                        <ul>
                            <li>
                                <a href='/phu-tung-xe-nang/banh-pu-xe-nang/' title='Xem tất cả sản phẩm trong Bánh PU xe nâng (5)'>
                                    <div class='category_name'>
                                        Bánh PU xe nâng <span class='category_name_count'>(5)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/banh-xe-nang/' title='Xem tất cả sản phẩm trong Bánh xe nâng (2)'>
                                    <div class='category_name'>
                                        Bánh xe nâng <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/ao-nia-xe-nang/' title='Xem tất cả sản phẩm trong Áo nĩa xe nâng (3)'>
                                    <div class='category_name'>
                                        Áo nĩa xe nâng <span class='category_name_count'>(3)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/ghe-ngoi-xe-nang/' title='Xem tất cả sản phẩm trong Ghế ngồi xe nâng (2)'>
                                    <div class='category_name'>
                                        Ghế ngồi xe nâng <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/giac-cam-binh-ac-quy-may-sac/' title='Xem tất cả sản phẩm trong Giắc cắm bình ắc quy - máy sạc (2)'>
                                    <div class='category_name'>
                                        Giắc cắm bình ắc quy - máy sạc <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/bac-dan-khung-nang/' title='Xem tất cả sản phẩm trong Bạc đạn khung nâng (2)'>
                                    <div class='category_name'>
                                        Bạc đạn khung nâng <span class='category_name_count'>(2)</span>
                                    </div>
                                </a>

                            </li>

                            <li>
                                <a href='/phu-tung-xe-nang/phu-kien-xe-nang-khac/' title='Xem tất cả sản phẩm trong Phụ kiện xe nâng khác (4)'>
                                    <div class='category_name'>
                                        Phụ kiện xe nâng khác <span class='category_name_count'>(4)</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <script>
                jQuery(document).ready(function ($) {
                    $('#catnavigation').treeview({
                        collapsed: true,
                        unique: false,
                        persist: "location",
                    });
                });
        </script>
        <div class="widget-3 widget-odd spnew contact widget">
            <h4>Liên hệ nhanh</h4>
            <div class="textwidget">
                <p>Mr Quí: <span>0165 255 5283</span></p>
                <p>Mr Quang: <span>0165 255 5283</span></p>
            </div>
        </div><!-- widget --><div class="widget-4 widget-even spnew widget">
            <h4>Sản phẩm mới đăng</h4>	<ul class="dpe-flexible-posts">
                <li id="post-552" class="post-552 san_pham type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-reach-truck nhom_san_pham-xe-nang-moi-xilin nhom_san_pham-san-pham-noi-bat">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/Xe-nâng-điện-lối-đi-hẹp-Xilin-CQDH10C-15C-Reach-Truck-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="Xe nâng điện lối đi hẹp Xilin CQDH10C-15C - Reach Truck" />				<h4 class="title">Xe nâng điện lối đi hẹp Xilin CQDH10C/15C &#8211; Reach Truck</h4>
                    </a>
                </li>
                <li id="post-526" class="post-526 san_pham type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-forklift nhom_san_pham-xe-nang-moi-xilin">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/Xe-nâng-Xilin-CPD20SA-Forklift-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="Xe nâng Xilin CPD20SA - Forklift" />				<h4 class="title">Xe nâng Xilin CPD20SA &#8211; Forklift</h4>
                    </a>
                </li>
                <li id="post-523" class="post-523 san_pham type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-forklift nhom_san_pham-xe-nang-moi-xilin">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/Xe-nâng-Xilin-CPD10S-10-Forklift-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="Xe nâng Xilin CPD10S-10 - Forklift" />				<h4 class="title">Xe nâng Xilin CPD10S-10 &#8211; Forklift</h4>
                    </a>
                </li>
                <li id="post-518" class="post-518 san_pham type-san_pham status-publish has-post-thumbnail hentry nhom_san_pham-electric-stacker nhom_san_pham-xe-nang-moi-xilin">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/Xe-bốc-xếp-hàng-hóa-bằng-điện-CTDK10-III-Electric-Staddle-Stacker-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="Xe bốc xếp hàng hóa bằng điện CTDK10-III - Electric Staddle Stacker" />				<h4 class="title">Xe bốc xếp hàng hóa bằng điện CTDK10-III &#8211; Electric Staddle Stacker</h4>
                    </a>
                </li>
            </ul><!-- .dpe-flexible-posts -->
        </div><!-- widget --><div class="widget-5 widget-odd blognew widget">
            <h4>Blog xe nâng: bài gần đây</h4>	<ul class="dpe-flexible-posts">
                <li id="post-59" class="post-59 post type-post status-publish format-standard hentry category-blog-xe-nang">
                    <a href="/">
                        <div class="title">Có nên phục hồi bình ắc quy xe nâng?</div>
                    </a>
                </li>
                <li id="post-54" class="post-54 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-xe-nang">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/ac-quy-tab-cho-xe-nang-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="forklift_battery_tab_bs.jpg" />				<div class="title">Lựa chọn ắc quy cho xe nâng</div>
                    </a>
                </li>
                <li id="post-49" class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-xe-nang">
                    <a href="/">
                        <img width="220" height="220" src="~/Content/Images/binh-acquy-xe-nang-220x220.jpg" class="attachment-thumbnail wp-post-image" alt="ắc quy xe nâng" />				<div class="title">10 điều cần biết về ắc quy xe nâng</div>
                    </a>
                </li>
                <li id="post-47" class="post-47 post type-post status-publish format-standard hentry category-blog-xe-nang">
                    <a href="/">
                        <div class="title">An toàn khi sử dụng xe nâng</div>
                    </a>
                </li>
            </ul><!-- .dpe-flexible-posts -->
        </div><!-- widget -->
    </div>
</aside>
