<div class="box-wrap">
    <div id="credit">
        <div id="bizname">
            <h3 class="bizname">Copyright© 2015 <strong>Công ty TNHH MTV Vệ Sinh Cửu Long </strong></h3>
            <p>
                - Giặt ghế, thảm - Vệ sinh công nghiệp<br>
                - Vận chuyển, di dời
            </p>
            <p>Địa chỉ ĐKKD: 192 Bùi Minh Trực, P.6, Q.8, Tp.HCM</p>
            <p>MST: 0309870249</p>
        </div>
        <div id="lienhe">
            <h3>Văn phòng miền nam</h3>
            <p>Tại địa chĩ:</p>
            <p>192, Bùi Minh Trực</p>
            <p>P.6, Q.8</p>
            <p>Tp.HCM, Việt Nam</p>
            <p><a href="#">XEM BẢN ĐỒ</a></p>
        </div>
        <div id="khohang">
            <h3>Liên hệ</h3>
            <p>Tel 1: 0165 255 5283</p>
            <p>Tel 2: 0165 255 5283</p>
            <p>Fax:  0165 255 5283</p>
        </div>

        <div id="footerwg">
            <p>Truy cập hôm qua: 124</>
            <p>Tổng số: 654331</p>
        </div>
    </div>
</div>

