<div class="header-wrap">
    <div id="top-header">
        <div class="box-wrap">
            <div class="vip-add">Địa chĩ: 192 Bùi Minh Trực, P.6, Q.8, TP. HCM</div>
            <div class="vip-tel">
                <span>Tel:</span> <a href="tel://01652555283">0165 255 5283</a>
            </div>
            <div class="vip-mobile">
                <span>Hotline:</span>
                <a href="tel://01652555283">0165 255 5283</a>
            </div>
            <div class="icon vip-fb">
                <a href="/">Facebook</a>
            </div>
            <div class="icon vip-gplus">
                <a href="/">Google Plus</a>
            </div>
            <div class="icon vip-mail">
                <a href="/">Email</a>
            </div> <div class="vip-lang">
                <a href="/">English</a>
            </div>
        </div>
    </div>
    <div id="siteinfo">
        <div class="box-wrap">
            <div id="logo">
                <a href="/" title="CÔNG TY VỆ SINH CỬU LONG">
                    <img src="~/Content/Images/logo.jpg" height="100" width="200" alt="" />
                </a>
            </div>
            <div id="sitename">
                <h1>
                    <a href="http://duyphatforklift.vn" title="CÔNG TY VỆ SINH CỬU LONG">CÔNG TY VỆ SINH CỬU LONG</a>
                </h1> <p id="description">Giặt thảm | Giặt ghế | Vệ sinh công trình | Vệ sinh nhà ở | Vận chuyển, di dời</p>
            </div>
            <div id="headgads">
                <div class="headands1">HOTLINE: 0135 255 5283<br>CHĂM SÓC KHÁCH HÀNG: 0135 255 5283 (Thanh Phương)</div>
                <div class="headands1"></div>
                <div class="headands1"></div>
                <div class="search"></div>
            </div>
        </div>
    </div>
    <!--navigation menu-->
    <nav>
        <div class="nav-wrap">
            <label for="show-menu" class="show-menu">MENU</label>
            <input type="checkbox" id="show-menu" role="button">
            <div id="menu" class="menu-mainmenu-container">
                <ul id="menu-mainmenu" class="menu">
                    <li id="menu-item-269" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-256 current_page_item menu-item-269">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81">
                        <a href="/">Giới thiệu</a>
                    </li>
                    <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72">
                        <a>Dịch vụ giặt thảm</a>
                        <ul class="sub-menu">
                            <li id="menu-item-251" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-251">
                                <a href="/">Giặt thảm văn phòng</a>
                            </li>
                            <li id="menu-item-73" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-73">
                                <a href="/">Giặt thảm trải sàn</a>
                            </li>
                        </ul>
                    </li>

                    <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72">
                        <a>Dịch vụ giặt ghế</a>
                        <ul class="sub-menu">
                            <li id="menu-item-251" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-251">
                                <a href="/">Giặt ghế văn phòng</a>
                            </li>
                            <li id="menu-item-73" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-73">
                                <a href="/">Giặt ghế sofa, salon</a>
                            </li>
                        </ul>
                    </li>

                    <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72">
                        <a>Dịch vụ vệ sinh</a>
                        <ul class="sub-menu">
                            <li id="menu-item-251" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-251">
                                <a href="/">Vệ sinh nhà xưởng</a>
                            </li>
                            <li id="menu-item-73" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-73">
                                <a href="/">Vệ sinh nhà ở trọn gói</a>
                            </li>
                        </ul>
                    </li>

                    <li id="menu-item-72" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72">
                        <a>Dịch vụ vận chuyển-di dời</a>
                        <ul class="sub-menu">
                            <li id="menu-item-251" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-251">
                                <a href="/">Di dời nhà xưởng</a>
                            </li>
                            <li id="menu-item-73" class="menu-item menu-item-type-taxonomy menu-item-object-nhom_san_pham menu-item-73">
                                <a href="/">Di dời phòng trọ</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-71" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-71">
                        <a href="/blog/blog-xe-nang/">Blog</a>
                    </li>
                    <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70">
                        <a href="/lien-he/">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--submenu-->
</div>
