
<div id="wpb_logo_slider" class="wpb_logo_slider">
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng XILIN">
            <img src="~/Content/Images/xe-nang-xilin.png" />
        </a>
    </div>
    <div class="logo_item">
        <img src="~/Content/Images/mitsubishi-forklift-trucks.jpg" />
    </div>
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng Hyster">
            <img src="~/Content/Images/hyster-forklift.jpg" />
        </a>
    </div><div class="logo_item">
        <a href="/" title="Xe nâng hàng Nissan">
            <img src="~/Content/Images/nissan-forklift_logo.jpg" />
        </a>
    </div>
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng Sumitomo">
            <img src="~/Content/Images/sumitomo-forklift.gif" />
        </a>
    </div><div class="logo_item">
        <a href="/" title="Xe nâng hàng BT (BT Vector)">
            <img src="~/Content/Images/BT-Forklift-Trucks-Logo.jpg" />
        </a>
    </div><div class="logo_item">
        <a href="/" title="Xe nâng hàng Yale">
            <img src="~/Content/Images/yale-forklift.jpg" />
        </a>
    </div>
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng Nichiyu">
            <img src="~/Content/Images/nichiyu-forklift.gif" />
        </a>
    </div><div class="logo_item">
        <a href="/" title="Xe nâng hàng TCM">
            <img src="~/Content/Images/tcm-forklift.jpg" />
        </a>
    </div>
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng Komatsu">
            <img src="~/Content/Images/Komatsu_logo.jpg" />
        </a>
    </div>
    <div class="logo_item">
        <a href="/" title="Xe nâng hàng Toyota">
            <img src="~/Content/Images/Toyota.png" />
        </a>
    </div>
</div>
