@using CL.Transverse

@{
    ViewBag.Title = "Category Management";
    Layout = Constants.GeneralAdminConfigs.Layout;
}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Category List</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="">
            <a href="@Url.Action("Add", "Category", new { area = Constants.GeneralAdminConfigs.AdminArea })" class="btn btn-primary ">Add new category</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th class="hidden">Id</th>
                                <th class="col-lg-3">Title</th>
                                <th class="col-lg-3">Url</th>
                                <th class="col-lg-3">Parent</th>
                                <th class="col-lg-1">Active</th>
                                <th class="col-lg-2">#</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        @section scripts
{
            @{
                Html.RenderPartial("_Partial/_Get");
            }
        }



